h1{
    font-size: 2rem;
    margin: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(155, 155, 155);
}

button, input{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    border-color: transparent;
}

button:hover{
    filter: brightness(1.1);
}

button:active{
    filter: brightness(0.9);
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.404);
    font-size: 1.25em;
}

.page{
    background-image: linear-gradient( to bottom right, rgb(255,205,136), rgb(83, 0, 161));
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.page .card{
    background-color: rgb(180, 180, 180);
    width: 50%;
    height: 50%;
    box-shadow: 25px 30px 3rem rgb(57, 0, 65);
    border-radius: 0.8rem;
    padding: 30px;
}

.page .card .content{
    width: calc(100% - 0.4rem);
    height: calc(100% - 0.4rem);
    border-radius: 0.5rem;
    border: dashed white 0.2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.page .card .content .input{
    display: flex;
    width: 100%;
    justify-content: center;
}

.page .card .content .input .text-input{
    border-radius: 5px 0px 0px 5px; 
    width: 50%;
    background-color: rgb(224, 224, 224);
    
}

.page .card .content .input .submit-button{
    background-image: linear-gradient(rgb(159, 46, 163), rgb(83, 0, 161));
    text-shadow: 1px 1px rgb(8, 0, 0);
    color: white;  
    border-radius: 0px 5px 5px 0px; 
    border-left: none;
    cursor: pointer;
    width: 6rem;
}

.page .card .content .list{
    background-color: rgb(250, 199, 128);
    margin-top: 20px;
    height: 50%;
    width: 60%;
    position:relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}


